<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xr.muyudemo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name=".Classshou"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".diary.WriteDialy"/>
        <activity android:name=".diary.Bianji"/>
        <activity android:name=".diary.ContentView"/>
        <activity android:name=".diary.MainActivity"/>
        <activity android:name=".diary.MyDialoy"/>
        <activity android:name=".diary.SheZhi"/>
        <activity android:name=".diary.CallbyeTabActivity"/>
        <activity android:name=".diary.NvCallbyeTabActivity"/>
        <activity android:name=".gridv.GridView"/>
        <activity android:name=".gridv.Guodu"/>
        <activity android:name=".gridv.GridVieww"/>
        <activity android:name=".gridv.Guoduw"/>
        <activity android:name=".Video" />
        <activity android:name=".FubenOpenurl"/>
        <activity android:name=".XVideo"/>
        <activity android:name=".Bvideo"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


        <activity
            android:name=".video.test_webview_demo.FullScreenActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".video.test_webview_demo.FilechooserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".video.test_webview_demo.BrowserActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".CrowserActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".video.test_webview_demo.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".update.Guanyu"/>
        <activity android:name=".update.DownActivtiy"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>



    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
</manifest>